<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
	
<!-- <property name="hibernate.show_sql">true</property> -->

 		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/rexdb?rewriteBatchedStatements=true</property>
		<property name="connection.username">root</property>
		<property name="connection.password">12345678</property>
		
<!-- 		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="connection.url">jdbc:oracle:thin:@127.0.0.1:1521:orcl</property>
		<property name="connection.username">rexdb</property>
		<property name="connection.password">12345678</property> -->
		
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="current_session_context_class">thread</property>
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
		<property name="hibernate.jdbc.batch_size">1000</property>
		
		<mapping resource="Student.hbm.xml" />
	</session-factory>

</hibernate-configuration>