<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="conn.properties"></properties>

	<settings>
		<setting name="proxyFactory" value="JAVASSIST"/>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias type="mybatis.DBCPDataSourceFactory" alias="DBCP" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="DBCP">
				<property name="driverClassName" value="${driverClassName}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
				<property name="initialSize" value="1" />
				<property name="maxActive" value="10" />
				<property name="maxIdle" value="10" />
				<property name="poolPreparedStatements" value="true" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="mybatis-mapper.xml" />
	</mappers>

</configuration>
